beautifulsoup4
clickhouse-driver
Jinja2
lxml
numpy
opencv-python
jsonpath-rw
openpyxl
pdfminer.six
py-postgresql
Pillow
psycopg2-binary
pytest
python-dateutil
redis
requests
selenium
simplejson
virtualenv