[Unit]
Description=English
Requires=english_server.service english_sound_word.service ping_wifi.service
After=english_server.service english_sound_word.service ping_wifi.service