flake8-commas
flake8-builtins
flake8-variables-names
flake8-import-order
flake8-functions
flake8-class-attributes-order
flake8-expression-complexity
flake8-cognitive-complexity
flake8-annotations
flake8-docstrings
