BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
AlignArrayOfStructures: Right
AlignAfterOpenBracket: AlwaysBreak
BracedInitializerIndentWidth: 4
