.blue {
    color: blue
}

.red {
    color: red
}

.green {
    color: green;
}

.red-dark {
    color: crimson;
}

.container {
    border: 1px solid #999;
    margin: 5px;
    padding: 5px;
}

.flex {
   display: flex;
   flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}
.font-weight-700 {
    font-weight: 700;
}

.buttom {
    margin: 3px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.group {
    border: 2px solid blue;
    padding: 5px
}

.header-group {
    text-align: center;
    font-weight: 700;
    color: red;
    font-size: 20px;
}

.width-18 {
    width: 18%;
}

.width-32 {
    width: 32%;
}

.mrg-tom-5 {
    margin-top: 5px;
}

.mrg-left-5 {
    margin-left: 5px;
}

.hide {
    display: none;
}

#switchVisibleGroups {
    position: fixed;
    top: 50%;
    right: 15px;
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    background-color: cornsilk;
    max-width: 90px;
    text-align: center;
    cursor: pointer;
}