#!/bin/bash
xrandr --output LVDS-1 --off
# xrandr --output HDMI-1 --primary
# xrandr --output HDMI-1 --left-of $(xrandr | grep "^V.* connected " | awk '{ print$1 }')
vga=$(xrandr | grep "^V.* connected " | awk '{ print$1 }')
xrandr --output "${vga}" --primary
xrandr --output HDMI-1 --left-of "${vga}"
