.container {
  width: 100%;
  height: calc(100vh - 20px);
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #0d3c21;
  color: #dee6dea6;
}

.control {
  display: flex;
  width: 5%;
  height: 100%;
  font-size: 70px;
  background-color: #194f30;
  cursor: pointer;
}

.control:hover {
  background-color:#1e5e39;
}

.arrow {
  margin: auto;
}
.content {
  width: 100%;
  font-size: 70px;
  white-space: pre-line;
}

.hidden {
  display: none;
}
