/*input:required:invalid {
  border:1px solid red;
}*/
@right: 0.5rem;
@left: 0.5rem;
@bottom: 0.5rem;
@color-red: red;
@color-blue: #3b0f96;
@color-green: #3e9646;
@color-grey: #999;


.wrapper {
  width: 50rem;
  display: flex;
  margin: 10% auto;
}

#transcription {
   width: 15rem;
   color: @color-grey;
   padding: 0.3rem;
   border: 0.1rem solid @color-grey;
}

#transcription:hover {
   color: @color-red;
}

#finish {
   margin-left: 5rem;
}

.flex {
   display: flex;
}

.f-column {
  flex-direction: column;
}

.f-align-center {
   align-items: center;
}


.hidden {
   display: none;
}

#sound {
   width: 2rem;
   height: 2rem;
   margin-left: 0.5rem;
   border-radius: 50%;
   background-size: 100%;
   background-image: url("./source/sound_blue.png");
}

#sound:hover {
   box-shadow: 0 0 0.1rem #4f82e2;
}

.passiveWord {
  idth: 200px;
  text-align: center;
}

.block {
   align-items: baseline;
}

.b-head {
   margin-bottom: 6rem;
}

.margin-r {
  margin-right: @right;
}

.margin-l {
  margin-left: @left;
}
.margin-b {
  margin-bottom: @bottom;
}

.padding-l {
   padding-left: @left;
}

.border-left {
   border-left: 0.15rem solid @color-red;
}

.color-red {
   color: @color-red;
}

.success {
   box-shadow: 0 0 5px @color-green;
 /*  border: 1px solid @color-green;*/
}

.error {
  /* border: 1px solid @color-red;*/
   box-shadow: 0 0 5px @color-red;
}

.color-blue {
   color: @color-blue;
}
